CONVEX_DEPLOYMENT=
CONVEX_URL=
CONVEX_SITE_URL=
VITE_CONVEX_SITE_URL=
VITE_SITE_URL=

# Data API configuration
DATA_API_URL=http://localhost:3001
DATA_API_KEY=your-secret-api-key

# TODO: Remove USDA dependencies
USDA_API_KEY=
MONGO_URI=
ELASTIC_URL=