App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata
App/fastlane/screenshots/
App/fastlane/test_output/
App/.bundle/

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml
